<form action="" method="post" accept-charset="utf-8">
  <fieldset class="field-main"><legend><h2>Calculate a Single Word</h2></legend>
    <fieldset>
      <legend><h3>Word Score</h3></legend>
      <!-- <label for="word">Enter Word</label> -->
      <input class="boxes" type="text" name="word" value="" maxlength="7" id="word" pattern="[A-Za-z]{2,}"/><br/>
      <input class="buttons" type="submit" value="Score It"/>
    </fieldset>

    <section>
      <% if @new_word %>
      <table>
        <tr>
          <td>Word</td>
          <td>Score</td>
        </tr>
        <tr>
          <td><%= "#{@new_word}" %></td>
          <td><%= "#{@score}" %></td>
        </tr>
        <% end %>
      </table>
    </section>
  </fieldset>
</form>
