<form action="" method="post" accept-charset="utf-8">
  <fieldset class="field-main"><legend><h2>Calculate a Single Word</h2></legend>
    <fieldset>
      <legend><h3>Word Score</h3></legend>
      <!-- <label for="word">Enter Word</label> -->
      <input class="boxes" type="text" name="word" value="" maxlength="7" id="word" pattern="[A-Za-z]{2,}"/><br/>
      <input class="buttons" type="submit" value="Score It"/>
    </fieldset>

    <section>
      <% if @score_hash %>
      <table>
        <tr>
          <td>Word</td>
          <td>Score</td>
        </tr>
        <tr>
          <td><%= "#{@score_hash[:full_word]}" %></td>
          <td><%= "#{@score_hash[:total_score]}" %></td>
        </tr>
      </table>
      <% @score_hash[:letters].each_with_index do |hash, index| %>
      <%= "#{hash.first[0]}:#{hash.first[1] }" %>
      <%= index == (@score_hash[:letters].length - 1) ? " " : ", " %>
        <% end %>
      <% end %>
    </section>
  </fieldset>
</form>
